
# Игнорируем архивы
*.zip
*.tar
*.gz

# Игнорируем папки, созданные скриптом сортировки
# (если скрипт создает папки по расширениям прямо в репо)
*.jpg/
*.png/
*.txt/

# Игнорируем сами результаты работы, если они создаются рядом
archive_*.zip